<section class="hero">
  <div class="hero-content">
    <h1 class="hero-title">Design and Build Your Tech Team</h1>
    <p class="hero-text">We help companies with...</p>
    <p align="right">
      <input type="button" value="Contact Us" />
    </p>
  </div>
 
</section>