<template>
  <section class="services">
    <h2 class="services-title">Our Services</h2>
    <div class="service-cards">
      <div class="service-card">
        <h3 class="service-card-title">Tech Transformation</h3>
        <p class="service-card-text">We help businesses embrace new technologies to drive growth and innovation.</p>
      </div>
      <div class="service-card">
        <h3 class="service-card-title">Product Management</h3>
        <p class="service-card-text">We help businesses to maintain product and their maintainance</p>
       </div>
       <div class="service-card">
        <h3 class="service-card-title">Talent on Demand</h3>
        <p class="service-card-text">We help businesses by providing technical assistance.</p>
      </div>
    </div>
    </template>
  
  </section>